<div class="container-fluid background_pic">
    <div class="mask rgba-indigo-strong d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row pt-lg-5 mt-lg-5 centrado" style="margin-top: 200px;">

                <div class="col-md-6 col-xl-5 pb-0">

                    <div class="card wow fadeInRight mt-2 rounded">
                        <div class="card-body rounded">
                            <form class="col-md-12">
                                <div class="form-group row pt-2">
                                    <div class="col-sm-12 pb-2">
                                        <small class="form-control border-0 text-center mb-1 pt-4 px-0">Register</small>
                                    </div>
                                </div>
                                <div class="form-group row pt-3">
                                    <div class="col-sm-12">
                                        <input type="text" name="name" id="name" class="form-control bg-light border-0 font-weight-light" placeholder="Name" required>
                                        <!-- <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                            El e-mail no es valido
                          </small> -->
                                    </div>
                                </div>
                                <div class="form-group row pt-1">
                                    <div class="col-sm-12">
                                        <input type="text" name="surname" id="surname" class="form-control bg-light border-0 font-weight-light" placeholder="Surname" required>
                                        <!-- <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                            El e-mail no es valido
                          </small> -->
                                    </div>
                                </div>
                                <div class="form-group row pt-1">
                                    <div class="col-sm-12">
                                        <input type="text" name="email" id="email" class="form-control bg-light border-0 font-weight-light" placeholder="E-mail" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                                        <!-- <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                            El e-mail no es valido
                          </small> -->
                                    </div>
                                </div>
                                <div class="form-group row pt-1">
                                    <div class="md-form col-sm-12">
                                        <input type="password" name="password" id="password" class="form-control bg-light border-0 font-weight-light" placeholder="Password" required>
                                        <!-- <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
                            La contraseña no es valida
                          </small> -->
                                    </div>
                                </div>
                                <div class="form-group row mt-4">
                                    <div class="md-form col-sm-12 mb-0 text-center">
                                        <input type="submit" class="form-control btn btn-danger w-75 btn-login" value="Sign Up">
                                        <!-- <small *ngIf="status == 'error'" class="invalid-feedback d-block">
                            Datos incorrectos
                          </small> -->
                                        <a class="form-control border-0 text-center text-danger mt-2" [routerLink]="['/login']">Log In</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>